* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-image: linear-gradient(to bottom left, #f5a907 0%, #f2c58a 100%);
	color: white;
	overflow: hidden;
}

.btn--game {
	padding: 1rem 2rem;
	font-size: 2rem;
	margin: 1rem;
}

img {
	height: 15rem;
	width: auto;
	transition: transform 0.1s; /* Animation */
	border-radius: 3rem;
}

img:hover {
	transform: scale(1.1);
}

.computer,
.player,
.winner {
	color: black;
	padding: 1rem 2rem;
	font-size: 2rem;
	margin: 1rem;
}

.btn--container {
	display: flex;
	justify-content: center;
	margin-top: 30rem;
}
.animate__animated.animate__backOutDown {
	--animate-duration: 0.4s;
}
