* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;

	background-image: linear-gradient(to bottom left, #e7c06c 0%, #f2c58a 100%);
	color: white;
}

.btn--game {
	padding: 1rem 2rem;
	font-size: 2rem;
	margin: 1rem;
}

img {
	height: 15rem;
	width: auto;
	transition: transform 0.1s; /* Animation */
}

img:hover {
	transform: scale(1.1);
}

.computer,
.player,
.winner {
	color: black;
	padding: 1rem 2rem;
	font-size: 2rem;
	margin: 1rem;
}

.btn--container {
	display: flex;
	justify-content: center;
	margin-top: 25rem;
}
